* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    background-color: aliceblue;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
}

main {
    border: 1px solid black;
    grid-column: 2 / 3;
    height: 400px;
    background-position: center;
    background-size: cover;
}

li {
    list-style: none;
}

.ball {
    border-radius: 500px;
    height: 30px;
    width: 30px;
    background-color: red;
    position: absolute;
    margin-left: 0;
    transition: ease-in-out;
}

#button {
    grid-column: 2 / 3;
    background: #ffa047;
    border-radius: 500px;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

#online-users, h3 {
    grid-column: 2 / 3;
}

.hidden {
    display: none;
}

#login {
    grid-column: 1/3;
}