<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Balance</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<main class="container">
    <div id="ball"></div>
</main>
<div class="device-data">

</div>


<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="js/app.js"></script>
</body>
</html>