<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Balance</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<main class="container"></main>
<div id="online-users">

</div>

<button id="button">Allow Audio</button>


<audio id="jingle" src="audio/jingle.mp3"></audio>
<audio id="dance" src="audio/danceBrass.wav"></audio>
<audio id="scat" src="audio/scat.wav"></audio>
<audio id="spoken" src="audio/spoken.wav"></audio>

<script src="/socket.io/socket.io.js"></script>
<script src="js/app.js"></script>
</body>
</html>