<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Login - Giphy Chat App</title>
</head>

<body>
<ul id="login">
    <li class="login page">
        <form class="form" action="/" method="post">
            <label class="title"><h2>What's your nickname?</h2></label>
            <input name="user" class="usernameInput" type="text" maxlength="14">
            <button type="submit">Submit</button>
        </form>
    </li>
</ul>


<script src="/socket.io/socket.io.js"></script>
<script src="js/app.js"></script>

</body>
</html>






